<div class="footer">
  <div class="contain">
  <div class="col">
    <h1>Get to Know Us</h1>
    <ul>
      <li>About Us</li>
      <li>Careers</li>
      <li>Press Releases</li>
      <li>Amazon</li>
      <li>Gift a Smile</li>
    </ul>
  </div>
  <div class="col">
    <h1>Products</h1>
    <ul>
      <li routerLink="/mobiles">Mobiles</li>
      <li routerLink="/homek">Home&Kitchen</li>
      <li routerLink="/fashion">Fashion</li>
      <li routerLink="/electronics">Electronics</li>
      <li routerLink="/computers">Computers</li>
    </ul>
  </div>
  <div class="col">
    <h1>Make Money with Us</h1>
    <ul>
       <li> Sell on Amazon</li>
    <li> Sell under Amazon Accelerator</li>
<li> Amazon Global Selling</li>
<li> Become an Affiliate</li>
<li> Fulfilment by Amazon</li>
<li> Advertise Your Products</li>
<li> Amazon Pay on Merchants</li>
    </ul>
  </div>
  <div class="col">
    <h1>Let Us Help You</h1>
    <ul>
        <li>  COVID-19 and Amazon</li>
        <li> Your Account</li>
            <li>  Returns Centre</li>
                <li>  100% Purchase Protection</li>
                    <li> Amazon App Download</li>
                        <li> Amazon Assistant Download</li>
                            <li> Help</li>
    </ul>
  </div>
  <div class="col">
    <h1>Support</h1>
    <ul>
      <li>Contact us</li>
      <li>Web chat</li>
      <li>Open ticket</li>
    </ul>
  </div>
  <div class="col social">
    <h1>Social</h1>
    <ul>
      <li><a href="https://www.facebook.com/AmazonIN"><img src="https://cdn-icons-png.flaticon.com/512/145/145802.png" width="32" style="width: 32px;"></a></li>
      <li><a href="https://instagram.com/amazondotin?utm_medium=copy_link"><img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" width="32" style="width: 32px;"></a></li>
      <li><a href="https://twitter.com/AmazonIN"><img src="https://cdn-icons.flaticon.com/png/512/3670/premium/3670127.png?token=exp=1635412100~hmac=386a9f0d70dd31feac0000cba01b1b83" width="32" style="width: 32px;"></a></li>
    </ul>
  </div>
<div class="clearfix"></div>
</div>
</div>
