#t1{
    margin-left: 20px;
    border-radius: 20px;
}
.t2{

    background-color: #f0c14b;
    border: 1px solid;
    border-radius: 2px;
    width: 100px;
    height: 30px;
    color: black;
    border-color: #a88134 #9c7e31 #846a29;
    margin-top: 50px;
    margin-left: 1400px;


}